<!--temapltes/index.html-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Spotify Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <div class="hero">
            <h1>Welcome to the Spotify Dashboard</h1>
        </div>
        <!-- nav bar -->
         <nav id="navbar"></nav>
         <div id="content"></div>
         <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
        <!-- nav bar -->
        <div id="home">
            <div class="user-greeting">
                <img src="{{ profile_image_url }}" alt="user-avatar" class="user-avatar">
                <p>Welcome <B>{{ display_name }}</B> to your Spotify Dashboard</p>
            </div>
            <div class="recommendation">
                <h3>Recommended Grenre</h3>
                <p>Based on the time of day, I recomend you to play some <strong>{{ recommended_genre }}</strong> music!</p>
            </div>
            <div class="summary">
                <div class="stat">Total Tracks Played: {{ total_tracks }}</div>
                <div class="stat">Top Genre: {{ top_genre }}</div>
                <div class="stat">Peak Listening Hour: {{ peak_hour }}</div>
            </div>

            <div class="featured">
                <h3>Featured Artist</h3>
                <img src="{{ top_artist_url}}" alt="artist image">
                <p>{{ top_artist_name }} - {{ top_artist_genre }}</p>
            </div>
            <div class="fun-info">
                <p>You listened to {{ listen_time }} of {{ listen_time_genre }} (insert time frame)</p>
                <p>You'r most active day is {{ most_active_day }}</p>
            </div>
        </div>
        <div id="recently-played" class="section">
            <h3>Recently Played</h3>
            <ul>
                {% for track in tracks %}
                    <li class="track-item">
                        <img src="{{track.url}}" alt="Album Cover" class="album-cover">
                        <div class="track-details">
                            <span class="track-name">{{ track.name }}</span> by {{ track.artists }}<br>
                            <span class="meta"> Played at {{ track.played_at }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div id="top-tracks" class="section">
            <h3>Top Tracks</h3>
            <ul>
                {% for track in top_tracks %}
                    <li class="track-item">
                        <img src="{{track.url}}" alt="Album Cover" class="album-cover">
                        <div class="track-details">
                            <span class="track-name">{{ track.name }}</span> by {{ track.artists }}<br>
                            <span class="meta"> Popularity: {{ track.popularity }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div id="top-artists" class="section">
            <h3>Top Artists</h3>
            <ul>
                {% for artist in top_artists %}
                    <li class="track-item">
                        <img src="{{artist.url}}" alt="Album Cover" class="album-cover">
                        <div class="track-details">
                            <span class="track-name">{{ artist.name }}</span><br>
                            <span class="meta"> Genre: {{ artist.genres | join(', ')}} | Followers: {{ artist.followers }} |  Popularity: {{ artist.popularity }}</span><br>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!-- graphs TO BE MOVED -->
        <div id="genre-chart" class="chart-section">
            <h3>Genre Distribution</h3> 
            <canvas id="genreChart"></canvas>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

        <script>
            const genreData = {{ genre_data | tojson | safe }};
        </script>

        <script src="{{ url_for('static', filename='js/graphs.js') }}"></script>
        <!-- graphs TO BE MOVED -->
    </body>
</html>